<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detail.css"></link>
</head>
<body>
    <div class="text">
        <h1 class="title">{{detailData.title}}</h1>
        <div class="article-info">{{detailData.from}} 时间：{{detailData.newTime}}</div>
        <p class="content">
            {{detailData.content}}
        </p>
    </div>
</body>
</html>