body {
    margin:0 50px;
    background-color:pink;
}

video {
    margin: 0 auto;
}

.barrage {
    width: 672px;
    height: 360px;
    position: absolute;
    margin-top: 10px;
    overflow: hidden;
}

.barrage span {
    color: white;
    position: absolute;
    left: 0px;
}

.inputView {
    position: absolute;
    top: 400px;
}
.bar-items {
    
}